@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 26, 26, 26;
    --background-start-rgb: 249, 247, 242;
    --background-end-rgb: 249, 247, 242;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glass {
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}